body{
    text-align: center;
    background-image: url("/Images/pexels-photo-8369677.webp");
}
.title{
    border: 2px solid #0085FB;
    margin-left: 490px;
    margin-right: 450px;
    border-radius: 20px;
    background-color:rgba(205, 230, 250, 0.8);
}
.formul{
    padding:5px;
    border-radius: 20px;
    background-color: rgba(205, 230, 250, 0.8);
    margin-left: 490px;
    margin-right: 450px;
    border: 2px solid #0085FB;
    }
input[type="email"]{
     width: 250px;
     padding: 10px;
     margin-bottom: 10px;
     background-color: azure;
     border: 1px solid #0085FB;
     border-radius: 10px;
     }
label {
        display: block;
        margin-bottom: 8px;
        text-align: center;
    }
p {
        margin-bottom: 20px;
    }
input[type="button"] {
     background-color:  #0085FB;
     color: #000000;
     padding: 10px 20px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
     }
input[type="button"]:hover{
      background-color: #83cf3d;
     }
.password-logo {
    height: 50px;
    margin-bottom: 20px;
}