body{
    text-align: center;
    background-image: url("/Images/pexels-photo-8369677.webp");
}
.title{
    border: 2px solid #0085FB;
    margin-left: 420px;
    margin-right: 400px;
    border-radius: 20px;
    background-color:rgba(205, 230, 250, 0.8);
}
.payer{
    padding:5px;
    border-radius: 20px;
    background-color: rgba(205, 230, 250, 0.8);
    margin-left: 420px;
    margin-right: 400px;
    border: 2px solid #0085FB;
}
input[type="number"]{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: azure;
    border: 1px solid #0085FB;
    border-radius: 10px;
    }
input[type="text"]{
        width: 250px;
        padding: 10px;
        margin-bottom: 10px;
        background-color: azure;
        border: 1px solid #0085FB;
        border-radius: 10px;
        }

input[type="button"] 
     {
      background-color:  #0085FB;
      color: #000000;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      }
input[type="button"]:hover 
      {
       background-color: #83cf3d;
      }